<h1 class="page-header">Style Guide for Single Page Applications</h1>
<div>
	<h4>Technologies Used</h4>
	<ul>
		<li>Node JS</li>
		<li>Bootstrap</li>
		<li>Angular JS</li>
		<li>Bower Components</li>
		<li>Gulp JS</li>
	</ul>
	<h2 class="sub-header">Installation Steps</h2>
	<pre>
npm install</pre>
	<pre>
bower install</pre>
	<p>Run Application</p>
	<pre>
gulp default</pre>
<h2 class="sub-header">Project Structure</h2>
<img src="images/styleguide.png" alt="Style Guide for Single Page Applications"/>
</div>
